<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        a(href="https://pugjs.org")
            img(src="https://opencollective.com/pug/sponsor/1/avatar.svg")
        each user, index in users
            h2(onclick=`alert(${index})`)= user.name